@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 26px;
}

/* Classes */

.footer,
.header {
    justify-content: space-between;
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.quote,
.header {
    display: flex;
    align-items: center;
    padding: 10px 250px;
    padding-bottom: 125px
}

.footer,
.titletext,
.link {
    color: #E5E7EB;
    font-size: 18px;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.titletext{
    filter: contrast(.5);
}

.Cta,
.button {
    background-color: #3882F6;
}

.button {
    border-radius: 3px;
    max-width: fit-content;
    max-height: fit-content;
    padding: 8px 30px;
    margin: 20px;
    margin-left: 0px;
}

.image {
    background-color: rgb(160, 160, 160);
    border: double;
    margin-left: 100px;
    height: 200px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.infotext {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    margin: 50px;
    text-align: center;
}

.infobox {
    display:flex;
    justify-content: center;
    gap: 50px;
}

.note,
.illustration {
    height: 100px;
    width: 100px;
}

.illustration {
    border: double 2px #3882F6;
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
}

.note {
    font-size: 9px;
    filter: contrast(.5);
    text-align: center;
    padding-top: 8px;
}

.quote {
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px;
}

.qsign,
.qtxt {
    color: #1F2937;
    font-size: 36px;
}

.qtxt {
    font-style: italic;
    width: 900px;
}

.qsign {
    text-align: end;
    align-self: flex-end;
    font-weight: bold;
    padding-right: 100px;
}

.CtA {
    display: flex;
    justify-content: center;
    align-items: center;
    border: double;
}

.footer {
    text-align: center;
    padding: 30px;
}