@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 26px;
}

strong {
    font-size: larger;
    font-weight: 900;
}

/* Backgrounds Colors */
    /* DarkBack-ground */
.DBg {
    background-color: #1F2937;
}
    /* BlueBack-ground */
.BBg {
    background-color: #3882F6;
}
    /* GreyBack-ground */
.GBg {
    background-color: #E5E7EB;
}

/* Font Colors */
    /* LightFont-color */
.LFc {
    color: #F9FAF8;
}

.DFc {
    color: #1F2937;
}

/* Font Styles */
    /* Contrast */
.C {
    filter: contrast(.5);
}
    /* Italic */
.I {
    font-style: italic;
}
    /* Bold */
.B {
    font-weight: 900;
}

/* Font Sizes */
.XSFs {
    font-size: 9px;
}
    /* SmallFont-size */
.SFs {
    font-size: 18px;
}
    /* AverageFont-size */
.AFs {
    font-size: 24px;
}
    /* LargeFont-size */
.LFs {
    font-size: 36px;
}
    /* eXtraLargeFont-size */
.XLFs {
    font-size: 48px;
}

/* Padding */
    /* SmallPadding */
.SP {
    padding: 50px;
}
    /* LargePadding */
.LP {
    padding: 100px;
}

/* Flexbox */
    /* FlexCenter */
.FC {
    display: flex;
    justify-content: center;
    align-items: center;
}
    /* FlexWrap */
.FW {
    display: flex;
    flex-wrap: wrap;
}
    /* FlexKeepSize */
.FKS {
    display: flex;
    flex: 0 0 auto;
}
    /* FlexDirectionColumn */
.FDC {
    display: flex;
    flex-direction: column;
}
/* Specifics */

.header {
    align-items: center;
    display: flex;
    padding: 10px 250px;
    padding-bottom: 125px;
    /* Flexbox */
    display: flex;
    justify-content: space-between;
}

.button {
    border-radius: 3px;
    margin: 20px;
    margin-left: 0px;
    max-width: fit-content;
    max-height: fit-content;
    padding: 8px 30px;
}

.image {
    background-color: rgb(160, 160, 160);
    border: double;
    height: 200px;
    width: 500px;
    margin-left: 100px;
}

.infotext {
    margin: 50px;
    text-align: center;
}

.infobox {
    gap: 50px;
}

.note,
.illustration {
    height: 100px;
    width: 100px;
}

.illustration {
    border: double 2px #3882F6;
    border-radius: 12px;
}

.note {
    text-align: center;
    padding-top: 8px;
}

.qtxt {
    width: 900px;
}

.qsign {
    margin-top: -100px;
    padding-right: 150px;
    text-align: end;
}

.foot {
    border-radius: 10px;
    padding: 10px 100px;
}

.border {
    border: 2px double;
    border-radius: 10px;
    margin: 10px 50px;
    margin-left: 100px;
}

.footer {
    text-align: center;
    padding: 30px;
}

